# Functions

In [1]:
def f1():		#Leader is processed . means added to symbol table
	print("in f1")
	return "Cool day"
k=f1()     #f1() is function call. Cool day is returned and stored in k
print(k)

in f1
Cool day

In [2]:
f1()			# f1 not available in symbol table. So it is an error
def f1():
	print("in f1")
	return "Cool day"

in f1

In [ ]:
#function is overridden when duplicate functions are used. No concept of function overloading in python
def f1():			#added to symbol table
	print("in f1")
	return "Cool day"
def f1(x):			# since the functions have same name, the function above is replaced with this in the symbol table with parameters added
	print("f1 is",x)
#f1()		#Error
f1("pes")

In [8]:
def f1():
	print("in f1")
k=f1()
print(f1)		#prints function address. This is not a call
print(k)		#prints None

in f1
<function f1 at 0x7ce2a047f130>
None

# Global-Local_Variable

In [9]:
x=10
print("global first outside",x)
def f1():
	x=11		#local variable x. Life and scope is only within this function
	print("inside",x)
f1()
print("global second outside",x)

global first outside 10
inside 11
global second outside 10

In [10]:
x=10
print("global first outside",x)
def f1():
	x=12		#x and y both are local variables, cannot be accessed outside the function
	y=20
	print("inside",x,y)
f1()
#print("outside",y)   #NameError
#print("outside",x,y)	# NameError

global first outside 10
inside 12 20

In [11]:
x=10
def f1():
	y=20		#y and sum both are local variables
	sum=x+y
	return sum
print("sum is",f1())

sum is 30

# Global variable

In [12]:
x=10    # Global variable. Can be used anywhere inside this file/code
def f1():
	print("inside",x)
f1()
print("outside",x)

inside 10
outside 10

In [ ]:
x=10
print(x)
def f1():
	x=x+1		#UnboundLocalError. Global variable is readonly inside a function. We cannot modify the value of that variable inside the function directly
	print("inside",x)
f1()
print("outside",x)

In [14]:
#If you want to change or modify the global variable inside a function, use global keyword
x=10
print("global first outside",x)
def f1():
	global x
	x=x+1
	print("inside",x)
f1()
print("global second outside",x)

global first outside 10
inside 11
global second outside 11

In [19]:
x=10
print("global first outside",x)
def f1():
	x=x+1		#error
	global x
	print("inside",x)
f1()
print("global second outside",x)

global first outside 10

SyntaxError: ignored

# LIfe-Scope of Local and Global Variables

scope:

where we can access; visibility

life:

existence of the variable

When the variable is created and when it will die

In [20]:
a = 100
e = 600
f = 700

h = 1111
def check() :
	print(a) # 100 # global variable
	print(b) # 200
	c = 30 # local variable
	if c == 30 :
		d = 40
	else:
		d = 50
	print(d) # ok; d is local to the function; no concept of local to a suite of
	# a control structure
	e = 60 # local variable
	# cannot directly modify a global variable
	# to access the global variable, for its value, nothing is required
	# to modify a global variable, we should declare that it is global
	global f
	f = f+30
	print(f) #730



b = 200
check()
#print(c) # not defined
print(e) # 600
print(f) # 730

100
200
40
730
600
730

# Parameter Passing

Arguments:

	* fields used in the call---> arguments .
	* It can be any expression in python
Parameters:

	* fields used in the function leader in the function definition
	* It should be a variable

parameter passing is always by value in python.

The Number of arguments and number of parameters must be same if no default parameters.

In [21]:
def f1(a,b):		# a and b, both are local variables and positional parameters
	print(a+b)
"""
On the function call, the activation record of f1 is
created with a and b as the parameter. The parameter a gets
a copy of argument which is 2 and b gets a copy of 3.
The parameter is a local variable of the function f1.
When the end of the function is reached,
the parameter is never copied to the corresponding argument.
So, the variable used at the caller side remains unchanged.
"""
f1(2,3)
#f1(2)		#Error
#f1(2,3,4)		#Error

5

In [22]:
def f1(a,b):
	print(a+b)

f1(2,3)
f1([2,3,4],[5,8,2])

5
[2, 3, 4, 5, 8, 2]

In [27]:
#All keyword arguments must follow positional arguments
def f1(a,b):
	print(a,b)
	print(a+b)

f1(b=2,a=3)  #Keyword arguments

3 2
5

In [34]:
def f1(a,b):
	print(a+b)

#f1(2,b=3,a=7)   #TypeError
f1(2,b=7)		# a is positional argument, b is keyword argument
#f1(2,a=7)    #TypeError
f1(a=7,2)   #SyntaxError: positional argument follows keyword argument

SyntaxError: ignored

In [35]:
#Default parameters
def f1(a,b=10):   #default value for b is 10
	print(a+b)
f1(2,3)
f1(2)
f1(a=2)
f1(b=13,a=9)
#f1(b=20,11)		#Error

5
12
12
22

In [36]:
def f1(a,b=10):   #default value for b is 10
	b=a+b
	print(b)
f1(2,3)
f1(2)
f1(a=2)
f1(b=13,a=9)
#f1(b=20,11)		#Error

5
12
12
22

# Parameter Passing using *arg, and *kwarg

* Variable number of arguments:   *arg
* Variable number of keyword arguments:   **kwarg
* any identifier can be used here for arg and kwarg

In [37]:
#   *arg
def f1(*arg):
	print(arg, type(arg))    #arg is of type tuple
	for i in arg:
		print(i)
f1(2,1,6,4,9,7)

(2, 1, 6, 4, 9, 7) <class 'tuple'>
2
1
6
4
9
7

In [38]:
def f1(a,b,*arg):		#a and b positional and *arg is variable number of arguments. 2 is passed to a and 1 is passed to b
	print(a,b)
	print(arg, type(arg))    #arg contains(6,4,9,7)
	for i in arg:
		print(i)
f1(2,1,6,4,9,7)

2 1
(6, 4, 9, 7) <class 'tuple'>
6
4
9
7

In [40]:
#   **kwarg
def f1(**kwarg):
	print(kwarg, type(kwarg))     #kwarg is of type dict
	for i in kwarg:
		print(i,end="")
	print()
	for i in kwarg.keys():
		print(i,end="")
	print()
	for i in kwarg.values():
		print(i,end="")
f1(a=2,b=1,c=6)
#f1(a=2,b=1,c=6,a=23)	#error

{'a': 2, 'b': 1, 'c': 6} <class 'dict'>
abc
abc
216

In [45]:
#Keyword arguments should follow positional arguments
def f1(x,**kwarg):
	print(kwarg)     #kwarg is of type dict
	for i in kwarg:
		print(i,end=" ")
	print()
	for i in kwarg.keys():
		print(i,end=" ")
	print()
	for i in kwarg.values():
		print(i,end=" ")
f1(56,a=21,b=31,c=61)
#f1(a=21,b=31,c=61,56)  #Error  positional arguments follows keyword arguments
#f1(x = 2, b=31,c=61,56) #error positional arguments follows keyword arguments

{'a': 21, 'b': 31, 'c': 61}
a b c
a b c
21 31 61

In [48]:
def f1(x,y,*arg,**kwarg):
	print(x,y)
	print(arg)
	print(kwarg)
f1(56,33,34,4,6,a=21,b=31,c=61)
#f1(56,33,34,4,6,a=21,b=31,c=61,x=45) #error -says got multiple values for x

56 33
(34, 4, 6)
{'a': 21, 'b': 31, 'c': 61}

In [51]:
def f1(*arg):
	print(arg)
	print(type(arg))	#tuple
	print(*arg)	#pass starred argument to any function, it does unpacking. i,e prints only value
				#see below code too.
	#print(type(*arg))	#  *arg becomes 1 2 3 4 , type cannot take more than 1 argument
f1(1,2,3,4)
f1({1:11,2:22},{3:33,4:44})
f1({1:11,2:22,3:33,4:44})

(1, 2, 3, 4)
<class 'tuple'>
1 2 3 4
({1: 11, 2: 22}, {3: 33, 4: 44})
<class 'tuple'>
{1: 11, 2: 22} {3: 33, 4: 44}
({1: 11, 2: 22, 3: 33, 4: 44},)
<class 'tuple'>
{1: 11, 2: 22, 3: 33, 4: 44}

# Default Parameter

* changing the simple type doesn't affect the other
* changing the reference type doesn't affect the other
* changing the reference type through the reference changes the other

In [52]:
x=[23,45,89]
def f1(y):
	y=[22,33]
	print("inside function",y)
print("beginning outside",x)
f1(x)
print("Later outside",x)

beginning outside [23, 45, 89]
inside function [22, 33]
Later outside [23, 45, 89]

In [53]:
x=[23,45,89]
def f1(y):
	print(id(y))
	y=y+[22,33]		# changes the id of y
	print(id(y))
	print("inside function",y)
print("beginning outside",x)
f1(x)
print("Later outside",x)	#x is not changed

beginning outside [23, 45, 89]
137311968789056
137311968320000
inside function [23, 45, 89, 22, 33]
Later outside [23, 45, 89]

In [54]:
x=[23,45,89]
def f1(y):
	print(id(y))
	y+=[22,33]
	print(id(y))	#no change in id of y. same as y above and x outside
	print("inside function",y)
print("beginning outside",x)
f1(x)
print("Later outside",x) #x is affected

beginning outside [23, 45, 89]
137312811894976
137312811894976
inside function [23, 45, 89, 22, 33]
Later outside [23, 45, 89, 22, 33]

In [55]:
#default parameter: It is always a part of symbol table which is added during leader processing
x=12
def f1(a,b=x):		#at the time of leader processing, whatever the value at x is fixed
	print(a,b)
x=15
f1(4)

4 12

In [56]:
def f1(a,b=[]):
	b.append(a)
	print(b)
f1(2)
f1(22)
f1(33)
f1(12,[3,4])
print("special case")
f1(25)

[2]
[2, 22]
[2, 22, 33]
[3, 4, 12]
special case
[2, 22, 33, 25]

# Function variation

* never specify type for a variable in python. Type is decided based on what is stored in that variable
* A function can pass any type of value and can return any type of value
* Activation record stores the following:
	* parameters
	* local variables
	* return value
	* return address
	* temporary variables
* Some of the variations on functions is as below.

In [57]:
def f1():
	print("in f1")
	f2()
def f2():
	print("in f2")
f1()

in f1
in f2

In [58]:
def f1():
	print("in f1")
	f2()
f1()		#Error
def f2():
	print("in f2")

in f1
in f2

In [59]:
def f1():
	print("in f1")
	f2()
def f2():
	return "Hello"
f1()
print(f1())

in f1
in f1
None

In [60]:
def f1():
	print("in f1")
	return f2()
def f2():
	print("in f2")
print(f1())

in f1
in f2
None