Functional Programming:
* Functional programming is a programming paradigm that breaks down a problem into individual functions. Every function, if possible, takes a set of input arguments and produces an output.

In [ ]:
#Example: recap into generators that creates generator object that is iterable with an example
a=(i for i in range(4))
print(type(a), list(a)) #only for list(a) works, not for tuple(a), set(a)

<class 'generator'> [0, 1, 2, 3]

# Map Function

syntax:

      iterator=map(callable, iterables)
  * the callable parameter can be either:-

    1) built-in function

    2) user-defined function

    3) lambda function

# Example 1: using built-in function for map()

In [ ]:
#example 1: to create a list that contains the length of each word in a given string using map() function
print("to create a list that contains the length of each word in a given string using map() function")
strng1_lst = "this is pure python skill for map function".split()
print(strng1_lst)

iterator = map(len, strng1_lst)  # map() returns an iterator
print("Map iterator: ", type(iterator),iterator)


str_length = list(iterator)  # the iterator can be converted into either tuple(iterator), or set(iterator) only once
print("The transformed list: ", str_length)
#print("the transformed tuple",tuple(iterator))     #shows empty tuple because the iterator is already ran till the end for converting into list
#print("the transformed set",set(iterator))         shows empty set because the iterator is already ran till the end for converting into list

to create a list that contains the length of each word in a given string using map() function
['this', 'is', 'pure', 'python', 'skill', 'for', 'map', 'function']
Map iterator:  <class 'map'> <map object at 0x78c806a72140>
The transformed list:  {2, 3, 4, 5, 6, 8}

In [ ]:
for i in iterator:  #prints nothing because iterator has already run till the end
  print(i)

In [ ]:
#for loop equivalent of example 1
print("for loop equivalent of example 1")
strng1_lst = "this is pure python skill for map function".split()
print(strng1_lst)
lst1=[]
for i in strng1_lst:
  l=len(i)
  lst1.append(l)
print(lst1)

for loop equivalent of example 1
['this', 'is', 'pure', 'python', 'skill', 'for', 'map', 'function']
[4, 2, 4, 6, 5, 3, 3, 8]

In [ ]:
#list comprehension equivalent of example 1
print("list comprehension equivalent of example 1")
strng1_lst = "this is pure python skill for map function".split()
print(strng1_lst)
lst1=[len(i) for i in strng1_lst]
print(lst1)

list comprehension equivalent of example 1
['this', 'is', 'pure', 'python', 'skill', 'for', 'map', 'function']
[4, 2, 4, 6, 5, 3, 3, 8]

In [ ]:
#lambda function equivalent of example1
print("lambda function equivalent of example1")
strng1_lst = "this is pure python skill for map function".split()
print(strng1_lst)
lambda_len=lambda strng1_lst: list(len(i) for i in strng1_lst)
print(lambda_len(strng1_lst))

lambda function equivalent of example1
['this', 'is', 'pure', 'python', 'skill', 'for', 'map', 'function']
[4, 2, 4, 6, 5, 3, 3, 8]

# Using user-defined function or map()

In [ ]:
#Example 2: to create a list containing the cube of the given list of integer elements-using  user-defined function in map()
print("to create a list containing the cube of the given list of integer elements-using  user-defined function in map()")
lst1=[1,2,3,4]
def f1(ele):
  return ele**3

cube=map(f1, lst1)
print(list(cube))

to create a list containing the cube of the given list of integer elements-using  user-defined function in map()
[1, 8, 27, 64]

In [ ]:
#using list comprehension for the same example 2
print("using list comprehension for the same example 2")
lst1=[1,2,3,4]
cube=[i**3 for i in lst1]
print(cube)

using list comprehension for the same example 2
[1, 8, 27, 64]

In [ ]:
#using for loop for the same example 2
print("using for loop for the same example 2")
lst1=[1,2,3,4]
cube2=[]
for i in lst1:
  cube2.append(i**3)
print(cube2)

using for loop for the same example 2
[1, 8, 27, 64]

In [ ]:
#using lambda fucntion for the same example 2
print("using lambda function for the same example 2")
lst1=[1,2,3,4]
cube3=lambda lst1:print(list(i**3 for i in lst1))
cube3(lst1)

using lambda function for the same example 2
[1, 8, 27, 64]

# Example using lambda function for map()

In [ ]:
#to fit in lambda fucntion inside map() function for the same example 2
print("lambda fucntion inside map() function for the same example 2")
lst1=[1,2,3,4]
iterator1=map(lambda x:x**3, lst1)
print(list(iterator1))
print("callback implementation for map() with lambda function as callable function")
print(list(map(lambda x:x**3, lst1)))       #callback implementation for map()

lambda fucntion inside map() function for the same example 2
[1, 8, 27, 64]
callback implementation for map() with lambda function as callable function
[1, 8, 27, 64]

# few problem solving using map(), list comprehension, lambda(), range()

In [ ]:
#generate multiplication table for a given number
n=int(input("enter the number for which multiplication tables are to be generated="))
#way 1: list comprehension approach
print("list comprehension approach")
print([i*n for i in range(1,11)])
#way 2: only lambda approach
print("only lambda approach")
res=lambda n:list(i*n for i in range(1,11))
print(list(res(n)))

enter the number for which multiplication tables are to be generated=9
list comprehension approach
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]
only lambda approach
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]

In [ ]:
#way 3: map(user-defined_function, iterable) approach
n=int(input("enter the number for which multiplication tables are to be generated="))
def mul(i):
  return n*i
iter=map(mul, range(1,11))
print(list(iter))

enter the number for which multiplication tables are to be generated=9
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]

In [ ]:
#way 4 : map(lambda, iterable) approach
n=int(input("enter the number for which multiplication tables are to be generated="))
iter=map(lambda i:i*n, range(1,11))           # n is a global variable
print(list(iter))
print("implementing callback for the same problem")
print(list(map(lambda i:i*n, range(1,11))))

enter the number for which multiplication tables are to be generated=9
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]
implementing callback for the same problem
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]

In [ ]:
#way 5: using only range() function
print("using only range() function")
n=int(input("enter the number for which multiplication tables are to be generated="))
print(list(range(n, n * 10 + 1, n)))

using only range() function
enter the number for which multiplication tables are to be generated=9
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]

In [ ]:
adjectives = ["big", "crooked", "dirty"]            # has 3 elements
colors = ["blue", "pink", "red", "green", "lilac"]  # has 5 elements
objects = ["shutter", "table", "pen", "baseball"]   # has 4 elements

defined_objects = list(map(
        lambda x, y, z: f"{x} {y} {z}",         #f-string to concatenate
        adjectives,
        colors,
        objects
))

print(defined_objects)

['big blue shutter', 'crooked pink table', 'dirty red pen']

# Filter

syntax

     iterator=filter(callable, iterable)
note: only one iterable can be used, unlike in map() where many iterables can be used
* applies the callable on the iterable, and filters only those elements from the iterable that meets the criteria of the callable

# examples of filtering even numbers from given 'n' range of values

In [ ]:
#example 1: to filter only even numbers from the given range of n values
iterator=filter(lambda i:i%2==0, range(1,11))
print(list(iterator))

[2, 4, 6, 8, 10]

In [ ]:

#usage of map() to the same code, resulting in different output  : consider the case of example 1 of filter()
iter=map(lambda i:i%2==0, range(1,11))
print(list(iter))

[False, True, False, True, False, True, False, True, False, True]

In [ ]:
#solution in other possible ways other than filter() function
lst=[]
for i in range(1,11):
  if i%2==0:
    lst.append(i)
  else:
    continue
print(lst)

[2, 4, 6, 8, 10]

In [ ]:
#trying to find the solution in map() using callable as user-defined function
def res(i):
  if i%2==0:
    return i
iter2=map(res, range(1,11))
print(list(iter2))

[None, 2, None, 4, None, 6, None, 8, None, 10]

In [ ]:
#using list comprehension
lst1=[i for i in range(1,11) if i%2==0]
print(lst1)

[2, 4, 6, 8, 10]

In [ ]:
#difference in the solution given by filter() and map()
def check(i):
  if i%2!=0:
    return True
  else:
    return False
filter_iter=filter(check, range(1,11))
print(list(filter_iter))
map_iter=map(check, range(1,11))
print(list(map_iter))

[1, 3, 5, 7, 9]
[True, False, True, False, True, False, True, False, True, False]

In [ ]:
#example: beautiful example that demonstrates the power of filter() function
lst1 = [1, 2.4, "string", "", [], None, True, False]
print(list(filter(None, lst1)))

[1, 2.4, 'string', True]

In [ ]:
#Some example: to filter only those ages which are greater than 18
ages = [5, 12, 17, 18, 24, 32, 34, 68, 12, 8, -9]

def remove(x):
  if x < 18:
    return False
  else:
    return True

print(list(filter(remove, ages)))

[18, 24, 32, 34, 68]

In [ ]:
#example: to find the list of prime numbers for the given range of 'n' integer value using filter() function
n=int(input("enter positive n value"))
def prime(i):
  for j in range(2,i):
    if i%j==0:
      return False
  return True
print(list(filter(prime, range(2,n+1))))

enter positive n value100
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Filter

syntax

    retrun_type=reduce(callable, iterable[,initializer])

In [ ]:
#to add list elements
from functools import reduce
lst1=[1,2,3,4,5]
res=reduce(lambda x,y:x+y,lst1,10)
print(type(res))
print(res)

<class 'int'>
25

In [ ]:
#to multiply list elements
lst1=[1,2,3,4,5]
res=reduce(lambda x,y:x*y,lst1)
print(res)

120

In [ ]:
lst1=[1,2,3,4,5]
res=reduce(lambda x,y:x*1,lst1)
print(res)

1

In [ ]:
lst1=[1,2,3,4,5]
res=reduce(lambda x,y:1*x,lst1)
print(res)

1

In [ ]:
lst1=[1,2,3,4,5]
res=reduce(lambda x,y:1*y,lst1)
print(res)

5

In [ ]:
n=int(input("enter positive n value"))
def prime(i):
  for j in range(2,i):
    if i%j==0:
      return False
  return True
print(list(filter(lambda i: i if i%2==0 else 0, list(filter(prime, range(2,n+1))))))

enter positive n value50
[2]

In [ ]:
n=int(input("enter positive n value"))
def prime(i):
  for j in range(2,i):
    if i%j==0:
      return False
  return True
print(reduce(lambda x,y:x+y, list(filter(prime, range(2,n+1)))))

enter positive n value50
328

#min(), max() for heterogenous datatypes

In [ ]:
lst1=[24,3.0,56,"string",'welcome',[2,3]]
res = min(i for i in lst1 if isinstance(i, str))
print(res)

string

In [ ]:
res = max(lst1, key = lambda i: (isinstance(i, int))) #wont give correct result
print(res)

24

In [ ]:
res = max(lst1, key = lambda i: (isinstance(i, int),i)) #gives correct result
print(res)

56

In [ ]:
res =list(filter(lambda x: isinstance(x, int), lst1))
print("min value= ", min(res))
print("max value=",max(res))

min value=  24
max value= 56