String: A Data Structure defined as   "sequence of zero or more alphanumeric characters".

# String variable creation

In [ ]:
str1=str()    #an empty string is created under the string variable name str1, i.e str1 contains ''
print(str1)

In [ ]:
str1

# Insertion

Method 1: from programmer end

In [ ]:
str2="welcome to python programming! today is 17th October 2023"
print(str2)

welcome to python programming! today is 17th October 2023

Method 2: Accepting string from user end

In [ ]:
str3=input("enter your name")
print(str3)

enter your nameDivyashree
Divyashree

#Properties of String

1) indexable

In [ ]:
str1="welcome to python programming!"
print(str1[0])
print(str1[-1])

w
!

2) Iterable

In [ ]:
#Example 1
str1="programing"
for i in str1:
  print(i)

p
r
o
g
r
a
m
i
n
g

In [ ]:
#Example 2
str1="welcome to python"
for i in str1:
  print(i,end="")

welcome to python

In [ ]:
#Example 3
str1="check this"
i=0
while(i<len(str1)):
  print(str1[i],end="")
  i=i+1

check this

3) Immutable: cannot change individual characters of a string

In [ ]:
str1="Pyhton"
str1[0]='e' #throws TypeError: object does not support item assignment

TypeError: ignored

#Slicing Operator [start:stop:step] in String

In [ ]:
str1="python programming"
print(str1[1:4])

yth

In [ ]:
print(str1[1:16:2])

yhnpormi

In [ ]:
print(str1[-10:-4])  #allows to use -ve indexing

rogram

In [ ]:
str1[1:len(str1):2]

'yhnpormig'

#Use of (+, *) in Strings

1) Examples on + operator

In [ ]:
# + acts as string concatenation
str1="Computational Problem"
str2="Solving using"
str3="Python Porgramming"
str4=" "
print(str1+str1)    #concatenates the str1 with str1

Computational ProblemComputational Problem

In [ ]:
print(str1+str2+str3)   #observe there is no space between str1 and str2

Computational ProblemSolving usingPython Porgramming

In [ ]:
print(str1+str4+str2+str4+str3) # space is inserted through str4=" " variable

Computational Problem Solving using Python Porgramming

In [ ]:
print(str1+" "+str2+" "+str3) #space is inserted through empty string literal " "
print(str1,str2,str3)         #here bydefault print inserts space between the variables

Computational Problem Solving using Python Porgramming
Computational Problem Solving using Python Porgramming

2) Examples on * operator

In [ ]:
str1="Computational Problem"
str5=str1*2
print(str5)

Computational ProblemComputational Problem

In [ ]:
str1="Computational Problem"
print(str1*str1)    #throws error because the multiplicative operand should be an integer

In [ ]:
print(str1*(10>2))

Computational Problem

In [ ]:
print(str1*(10<2))    #empty because the condition 10<2 fails, so nothing get replicated

#Usage of Membership operators (in, not in) in Strings

In [ ]:
#Example 1
str1="Welcome to python Programming"
'c' in str1

True

In [ ]:
#Example 2
str1="Welcome to python Programming"
ss="Prog"     #case sensitive
ss in str1

True

In [ ]:
#Example 3
str1="Welcome to python Programming"
ss="prog"     #case sensitive
ss in str1

False

In [ ]:
#Example 4
str1="Welcome to python Programming"
'1' not in str1     #left operand should always be string

True

In [ ]:
# Example 5
str1="Welcome to python Programming"
for i in str1:
  print(i,end="")

Welcome to python Programming

In [ ]:
# Example 6
str1="Welcome to python Programming"
for str1 in str1:
  print(str1,end="")

Welcome to python Programming

#Predefined Functions available for Strings

In [ ]:
dir(str)      #gives all the pre-defined fucntions supported for strings, please try to explore all

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

1) len()

In [ ]:
# len()
str1="python programming"
len(str1)

18

2) index()

In [ ]:
# str_varibale.index('character in quotes or substring') gives the index of 1st occurance of a character
str1="python programming"
#Example 1:
str1.index('r')

8

In [ ]:
str1="python programming"
#Example 2:
str1.index("prog")

7

In [ ]:
#Example 3:
str1.index('d')   #throws "substring error"  because the character 'd' is not present in the string str1

3) count()

In [ ]:
# string_variable.count('character in quotes')
str1.count('p')

2

4) min()

In [ ]:
str1="Computational Problem"
str2="Solving using"
str3="Python"
str4="programming"
#Example 1:
print(min(str1))    #space is shown as min of the string str1 based on its ascii value
#Example 2:
print(min(str3))    # here in str3, no spaces is present, hence gives the 'P' as min i.e. based on its ascii value which is 80

P

In [ ]:
chr(80)

'P'

In [ ]:
ord('P')

80

In [ ]:
#Example 3:Same min() is used to extract min of different strings
print(min(str1,str2,str3,str4))

Computational Problem

5) max()

In [ ]:
str1="Computational Problem"
str2="Solving using"
str3="Python"
str4="programming"
#Example 1:
print(max(str1))    #based on ascii value
#Example 2:
print(max(str3))    #based on ascii value

u
y

6) startswith(prefix,start,end)
  
  -returns True if string starts with the given prefix otherwise returns False.

    prefix – A string that needs to be checked. Can also be a tuple containing multiple strings

    start – starting position where prefix is needed to be checked within the string.

    end- Ending position where prefix is needed to be checked within the string.

In [ ]:
#Example 1
str1="Computational Problem"
str1.startswith('P',14,19)   # for startswith, the start-index of the prefix should be exact, else it returns False even if the string is present

True

In [ ]:
#Example 2
str1="Computational Problem"
str1.startswith('P',12,19)  #here the start-index is not pointing to the position of 'P' present in the string, hence returns False

In [ ]:
#Example 3
str1="Python programming"
str1.startswith(('P','prog'))    #giving start-index, and end-index is optional for 1st occurance
                              # prefic can be a tuple containing many strings

True

In [ ]:
#Example 4
str1="Python programming"
str1.startswith(('P','GANG'))    #returns true even if one of the string in the tuple exists

True

In [ ]:
#Example 5
str1="Python programming"
str1.startswith(str1)       #passing the str1 itself as prefix

True

7) endswith(search_string,start,end)

In [ ]:
#Example 1
str1="Python programming"
str1.endswith(str1)

True

In [ ]:
#Example 2
str1="Python programming"
str1.endswith('on',0,6)

True

In [ ]:
#Example 3
str1="Python programming"
str1.endswith('ing',0,len(str1))

True

8) find(sub_string,start,end)
    -returns the index of the 1st occurance of the sub-string in a given string

In [2]:
#Example 1
str1="welcome to python"
str1.find('to',1,len(str1))

8

In [3]:
#Example 2
str1="welcome to python! I am trying to learn python"
str1.find('to',1,len(str1))       #gives the position of only the 1st occurance of the substring

8

In [5]:
#Example 3
str1="welcome to python! I am trying to learn python"
str1.find('python')       #start ,end index is optional

11

9) rfind(sub-string,start,end)

In [4]:
#Example 1
str1="welcome to python! I am trying to learn python"
str1.rfind('to',1,len(str1))       #gives the position of only the 1st occurance of the substring from the right-side
                                    #however the index returned is positive-index

31

In [6]:
#Example 2
str1="welcome to python! I am trying to learn python"
str1.rfind('python')       #start ,end index is optional

40

10) strip('character')
    -takes the string and retruns a string without the specified 'character', i.e, strips out the specified character
    -

In [7]:
#Example 1
str1="welcome to python! I am trying to learn python"
str1.strip("python")            #tries to strip from both the ends
                                #observe the output, since 'python' appeared only at the right-end, but not in the left-end, it stripped only the right end side

'welcome to python! I am trying to learn '

In [8]:
#Example 2
str1="welcome to python! I am trying to learn python"
str1.lstrip("python")           #please observe the output, their is not 'python at the left-end

'welcome to python! I am trying to learn python'

In [9]:
#Example 3
str1="welcome to python! I am trying to learn python"
str1.rstrip("python")           #please observe the output, 'python' is stripped from the right-end

'welcome to python! I am trying to learn '

In [11]:
#Example 4
str1="welcome to python! I am trying to learn python"
str1.strip("not")           #please observe the output, it has stripped 'n', later 'o' from the right-end

'welcome to python! I am trying to learn pyth'

In [12]:
#Example 5
str1="welcome to python! I am trying to learn python"
str1.strip("thn")           #please observe the output, 't' is not at end, next it looks for 'h' it is not at the end, later looks for 'n'
                            #'n' is present at the right-end, so only 'n' is stripped

'welcome to python! I am trying to learn pytho'

In [13]:
#Example 6
str1="!!!!!!!!!!!!!!!!!!!!welcome to python!!!!!!!!!!"
str1.strip("!")                 #strips all occurance of ! from both left-end and right-end of the string

'welcome to python'

In [14]:
#Example 7
str1="!!!!!!!!!!!!!!!!!!!!welcome to python!!!!!!!!!!"
str1.lstrip("!")                 #strips all occurance of ! from  left-end of the string

'welcome to python!!!!!!!!!!'

In [15]:
#Example 8
str1="!!!!!!!!!!!!!!!!!!!!welcome to python!!!!!!!!!!"
str1.rstrip("!")                 #strips all occurance of ! from  right-end of the string

'!!!!!!!!!!!!!!!!!!!!welcome to python'

11) replace('sub-string1','with sub-string2',#occurance_count)

In [16]:
#Example 1
str1="!!!!!!!!!!!!!!!!!!!!welcome to python!!!!!!!!!!"
str1.replace("!",'*')                 #replaces all the occurances of '!' with '*'
                                      #does not affect the original string str1

'********************welcome to python**********'

In [18]:
#Example 2
str1="!!!!!!!!!!!!!!!!!!!!welcome to python!!!!!!!!!!"
str1.replace("!",'*',1)                 #replaces only 1st occurance of '!' with '*'

'*!!!!!!!!!!!!!!!!!!!welcome to python!!!!!!!!!!'

In [19]:
#Example 3
str1="!!!!!!!!!!!!!!!!!!!!welcome to python!!!!!!!!!!"
str1.replace("!",'*',5)                 #replaces first-five occurances of '!' with '*'
                                      #does not affect the original string str1

'*****!!!!!!!!!!!!!!!welcome to python!!!!!!!!!!'

In [20]:
#Example 4
str1="!!!!!!!!!!!!!!!!!!!!welcome to python!!!!!!!!!!"
str1.replace("*",'$')                 #no occurance of '*' in the str1, so no replacement, and does not through any error, just returns the original string str1
                                      #does not affect the original string str1

'!!!!!!!!!!!!!!!!!!!!welcome to python!!!!!!!!!!'

12) title()

    - this function  returns a string where the first character in every word is upper case.

In [21]:
#Example 1
str1="welcome to python! I am trying to learn python"
str1.title()        #every letter of the word in the string is capatialized

'Welcome To Python! I Am Trying To Learn Python'

13) capitalize()
    
    -this function returns a string where the first character is upper case, and the rest is lower case.

In [22]:
#Example 1
str1="welcome to python! I am trying to learn python"
str1.capitalize()        #only first letter of the word in the string is capatialized

'Welcome to python! i am trying to learn python'

14) join(string2)

  - joins every string-2 character with the string-1 characters

In [23]:
#Example 1
string1="check"
string2="this"
string1.join(string2)           #here, string-1 acts as a seperator for every charcter present in string-2
                                #original string-2 will not be affected

'tcheckhcheckichecks'

In [25]:
#Example 2
str1=" "
str2="welcome"
str1.join(str2)

'w e l c o m e'

15) split(string,occurance_count)

    -splits the string into a list depending on the split-string

In [27]:
#Example 1
str1="welcome to python! I am trying to learn python"
str1.split('to')

['welcome ', ' python! I am trying ', ' learn python']

In [28]:
#Example 2
str1="welcome to python! I am trying to learn python"
str1.split('')              #throws value-error : empty seperator not allowed

ValueError: ignored

In [29]:
#Example 3
str1="welcome to python! I am trying to learn python"
str1.split(' ')           #for every space, the string is split

['welcome', 'to', 'python!', 'I', 'am', 'trying', 'to', 'learn', 'python']

In [30]:
#Example 4
str1="welcome to python! I am trying to learn python"
str1.split('do')          #'do' is not present, so it returns just the original string without throwing any error

['welcome to python! I am trying to learn python']

In [31]:
#Example 5
str1="welcome to python! I am trying to learn python"
str1.split('to',1)          #splits the string only on the 1st occurance of the string 'to'

['welcome ', ' python! I am trying to learn python']

In [ ]:
#try for other functions
isspace()
ljust()
rjust()
center()
zfill()
isnumeric()
isalpha()
isdigit()
isupper()
islower()
upper()
lower()